@{
    ViewData["Title"] = "Esami Sostenuti";
    Layout = "~/Views/Shared/_Layout.cshtml";
@model List<EcdlBooking.ViewModel.User.Studenti.EsamiSotemutiVM>;
}
<div class="container">
    <br />
    <div class="bg-success p-2 text-white">
        <h1><i class="bi bi-calendar-day"></i>  Esami Sostenuti</h1>
    </div>
    <br />

    <!-- Tabella Degli Esami sostwenuti-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Data Inscrizione</th>
                <th scope="col">Data Esame</th>
                <th scope="col">Modulo</th>
                <th scope="col">Voto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elemento in Model)
                {
                var classeRiga = (elemento.Voto < 0) ? "table-warning" : "";

                <tr class="@classeRiga">
                   

                        <td>@elemento.DataPrenotazione.ToString("dd/MM/yyyy")</td>
                        <td>@elemento.DataEsame.ToString("dd/MM/yyyy")</td>
                        <td>@elemento.NomeModulo</td>
                        <td>@elemento.Voto</td>
                    </tr>
                }
               


            </tbody>
    </table>

</div>




