
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Pagina Visualizzazione Del Calendario Esami";
    
}
@* cdlBooking.ViewModel.User *@
@model List<EcdlBooking.Models.Exam>

    ciao<----

<div class="bg-success p-2 text-white">
    <h1><i class="bi bi-calendar-day"></i>  Calendario Esami</h1>
</div>


<br />
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Giorno</th>
                <th>Ora</th>
                <th>Scuola</th>
                <th>Esaminatore</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model!=null) 
            {
                @foreach( var exam in Model)
                {             
			    <tr>
				    <td>@exam.Data.ToLongDateString()</td>
                    <td>@exam.Ora.ToShortTimeString()</td>
                    <td>@exam.School.Name</td>
                    <td>@exam.Esaminatore.Name @exam.Esaminatore.Surname</td>
                @*
                    inserimento del menunu a tendina per la selezione del tipo di esamen
                    ecdl
                    nel caso in cui l utente è identificato allora è possibile selezionare solo
                    gli esamei che dovra fare

                Seleziona l esame *@

                <td>


                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-danger"
                                   role="button"
                                   asp-area="Identity"
                                   asp-controller="Account"
                                   asp-action="Login">
                                    Effettua il Login
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-success"
                                   role="button"
                                   asp-area="User"
                                   asp-controller="Studenti"
                                   asp-action="PrenotaEsame"
                                   asp-route-id="@exam.id">
                                    Prenota l' esame
                                </a>
                            }


                        
                            






                            
                 
                </td>
                </tr>
                }
            }       
        </tbody>
    </table>

  <br /><br />
                                  <a class="btn btn-success"
                                   role="button"
                                   asp-area="User"
                                   asp-controller="Studenti"
                                   asp-action="PrenotaEsameAutenticato">
                                    Prenota l' esame
                                </a>

                                



</div>


